*{
  margin: 0;
  padding: 0;
  align-items: center;
  
}
body{
  background-color:#e3f9ff ;
}
.conatiner{
  height: 500px;
  width: 350px;
  background-color: #3a4452;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 40%;
  top: 20%;
  border-radius: 10px;
}
.row{
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.block{
  width: 80%;
 
 
}

.input-section{
  width: 100%;
  
}
.input-section input{
  width: 100%;
  height: 80px;
  text-align: right;
  flex: 1;
  font-size: 45px;
  border: none;
  color: #fff;
  border-radius: 12px;
  box-shadow: -8px -8px 15px rgba(255, 255,255, 0.1) ,-8px -8px 15px rgba(255, 255,255, 0.1) ;
  background: transparent;
  cursor: pointer;
  box-shadow: none;
}
.row input{
  height: 50px;
  width: 50px;
  background: transparent;
  box-shadow: -8px -8px 15px rgba(255, 255,255, 0.1) ,-8px -8px 15px rgba(255, 255,255, 0.1) ;
  color: #fff;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  
}
.row .operator{
  color: #33ffd8; 
 
}
.row .equal{
  width: 120px;
}

